header{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

header h3{
    flex:1 0 20%;
    color: lightskyblue
}

header nav {
    flex:1 0 80%;
    text-align: right;
}

section {
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-wrap: wrap;*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.hide{
    display: none;
}

section h1 {
    font-size: 45px;
}

#choice-list {
    font-size: 25px;
        
}

ol li button {
    background-color: lightskyblue;
    padding: 10px;
}